
$gap: 10px;

.new-arrivals_item {
  display: flex;
  width: calc((100% - 3 * #{$gap}) / 4);
}

.product-card_top-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.product-card_bottom-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  width: 100%};
.product-card {
  width: 100%;
  box-sizing: border-box;
  background-color: #f6f6f6;
  border-radius: 8px;
  display: flex;
  padding: 16px 0 16px 0;
  gap: 16px;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product-card_top {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.product-card_heart {
  background: none;
  border: none;
  padding: 20px;
  cursor: pointer;
  line-height: 0;
}

.product-card_heart_icon {
  font-size: 24px;
  color: #000;
}

.product-card_heart_icon--liked {
  color: red;
}

.product-card_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 160px;
  aspect-ratio: 1;
}


.product-card_content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  width: 100%;
}

.product-card_img_el {
  width: 100%;
  height: 100%;
  object-fit: contain;

}

.product-card_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px 0;
}

.product-card_title {
  width: 100%;
  margin: 0 0 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  word-break: break-word;
}

.product-card_price {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.product-card_btn {
  min-width: 140px;
  padding: 14px 10px;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  background-color: black;
  color: white;
}

